{
    "openapi": "3.0.1",
    "info": {
        "title": "Model Catalog",
        "version": "v1.5.0",
        "description": "This is the API of the Software Description Ontology at [https://w3id.org/okn/o/sdm](https://w3id.org/okn/o/sdm)"
    },
    "servers": [
        {
            "url": "https://api.models.mint.isi.edu/v1.5.0"
        },
        {
            "url": "https://dev.api.models.mint.isi.edu/v1.5.0"
        },
        {
            "url": "http://localhost:8080/v1.5.0"
        }
    ],
    "paths": {
        "/configurationsetups": {
            "get": {
                "tags": [
                    "ConfigurationSetup"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ConfigurationSetup"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of ConfigurationSetup."
                    }
                },
                "summary": "List all instances of ConfigurationSetup",
                "description": "Gets a list of all instances of ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the ConfigurationSetupto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfigurationSetup"
                            }
                        }
                    }
                },
                "tags": [
                    "ConfigurationSetup"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigurationSetup"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one ConfigurationSetup",
                "description": "Create a new instance of ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)"
            }
        },
        "/configurationsetups/{id}": {
            "get": {
                "tags": [
                    "ConfigurationSetup"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the ConfigurationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigurationSetup"
                                }
                            }
                        },
                        "description": "Gets the details of a given ConfigurationSetup"
                    }
                },
                "summary": "Get a single ConfigurationSetup by its id",
                "description": "Gets the details of a given ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)"
            },
            "put": {
                "requestBody": {
                    "description": "An old ConfigurationSetupto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ConfigurationSetup"
                            }
                        }
                    }
                },
                "tags": [
                    "ConfigurationSetup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the ConfigurationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigurationSetup"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing ConfigurationSetup",
                "description": "Updates an existing ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)"
            },
            "delete": {
                "tags": [
                    "ConfigurationSetup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the ConfigurationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing ConfigurationSetup",
                "description": "Delete an existing ConfigurationSetup (more information in https://w3id.org/okn/o/sd#ConfigurationSetup)"
            }
        },
        "/datatransformations": {
            "get": {
                "tags": [
                    "DataTransformation"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DataTransformation"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of DataTransformation."
                    }
                },
                "summary": "List all instances of DataTransformation",
                "description": "Gets a list of all instances of DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the DataTransformationto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataTransformation"
                            }
                        }
                    }
                },
                "tags": [
                    "DataTransformation"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformation"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one DataTransformation",
                "description": "Create a new instance of DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)"
            }
        },
        "/datatransformations/{id}": {
            "get": {
                "tags": [
                    "DataTransformation"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformation"
                                }
                            }
                        },
                        "description": "Gets the details of a given DataTransformation"
                    }
                },
                "summary": "Get a single DataTransformation by its id",
                "description": "Gets the details of a given DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)"
            },
            "put": {
                "requestBody": {
                    "description": "An old DataTransformationto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataTransformation"
                            }
                        }
                    }
                },
                "tags": [
                    "DataTransformation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformation"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing DataTransformation",
                "description": "Updates an existing DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)"
            },
            "delete": {
                "tags": [
                    "DataTransformation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing DataTransformation",
                "description": "Delete an existing DataTransformation (more information in https://w3id.org/okn/o/sd#DataTransformation)"
            }
        },
        "/datatransformationsetups": {
            "get": {
                "tags": [
                    "DataTransformationSetup"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DataTransformationSetup"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of DataTransformationSetup."
                    }
                },
                "summary": "List all instances of DataTransformationSetup",
                "description": "Gets a list of all instances of DataTransformationSetup (more information in https://w3id.org/okn/o/sd#DataTransformationSetup)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the DataTransformationSetupto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataTransformationSetup"
                            }
                        }
                    }
                },
                "tags": [
                    "DataTransformationSetup"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformationSetup"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one DataTransformationSetup",
                "description": "Create a new instance of DataTransformationSetup (more information in https://w3id.org/okn/o/sd#DataTransformationSetup)"
            }
        },
        "/datatransformationsetups/{id}": {
            "get": {
                "tags": [
                    "DataTransformationSetup"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformationSetup"
                                }
                            }
                        },
                        "description": "Gets the details of a given DataTransformationSetup"
                    }
                },
                "summary": "Get a single DataTransformationSetup by its id",
                "description": "Gets the details of a given DataTransformationSetup (more information in https://w3id.org/okn/o/sd#DataTransformationSetup)"
            },
            "put": {
                "requestBody": {
                    "description": "An old DataTransformationSetupto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DataTransformationSetup"
                            }
                        }
                    }
                },
                "tags": [
                    "DataTransformationSetup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DataTransformationSetup"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing DataTransformationSetup",
                "description": "Updates an existing DataTransformationSetup (more information in https://w3id.org/okn/o/sd#DataTransformationSetup)"
            },
            "delete": {
                "tags": [
                    "DataTransformationSetup"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DataTransformationSetup to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing DataTransformationSetup",
                "description": "Delete an existing DataTransformationSetup (more information in https://w3id.org/okn/o/sd#DataTransformationSetup)"
            }
        },
        "/datasetspecifications": {
            "get": {
                "tags": [
                    "DatasetSpecification"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DatasetSpecification"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of DatasetSpecification."
                    }
                },
                "summary": "List all instances of DatasetSpecification",
                "description": "Gets a list of all instances of DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the DatasetSpecificationto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetSpecification"
                            }
                        }
                    }
                },
                "tags": [
                    "DatasetSpecification"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetSpecification"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one DatasetSpecification",
                "description": "Create a new instance of DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)"
            }
        },
        "/datasetspecifications/{id}": {
            "get": {
                "tags": [
                    "DatasetSpecification"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the DatasetSpecification to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetSpecification"
                                }
                            }
                        },
                        "description": "Gets the details of a given DatasetSpecification"
                    }
                },
                "summary": "Get a single DatasetSpecification by its id",
                "description": "Gets the details of a given DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)"
            },
            "put": {
                "requestBody": {
                    "description": "An old DatasetSpecificationto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DatasetSpecification"
                            }
                        }
                    }
                },
                "tags": [
                    "DatasetSpecification"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DatasetSpecification to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DatasetSpecification"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing DatasetSpecification",
                "description": "Updates an existing DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)"
            },
            "delete": {
                "tags": [
                    "DatasetSpecification"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the DatasetSpecification to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing DatasetSpecification",
                "description": "Delete an existing DatasetSpecification (more information in https://w3id.org/okn/o/sd#DatasetSpecification)"
            }
        },
        "/fundinginformations": {
            "get": {
                "tags": [
                    "FundingInformation"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/FundingInformation"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of FundingInformation."
                    }
                },
                "summary": "List all instances of FundingInformation",
                "description": "Gets a list of all instances of FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the FundingInformationto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FundingInformation"
                            }
                        }
                    }
                },
                "tags": [
                    "FundingInformation"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundingInformation"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one FundingInformation",
                "description": "Create a new instance of FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)"
            }
        },
        "/fundinginformations/{id}": {
            "get": {
                "tags": [
                    "FundingInformation"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the FundingInformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundingInformation"
                                }
                            }
                        },
                        "description": "Gets the details of a given FundingInformation"
                    }
                },
                "summary": "Get a single FundingInformation by its id",
                "description": "Gets the details of a given FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)"
            },
            "put": {
                "requestBody": {
                    "description": "An old FundingInformationto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FundingInformation"
                            }
                        }
                    }
                },
                "tags": [
                    "FundingInformation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the FundingInformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FundingInformation"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing FundingInformation",
                "description": "Updates an existing FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)"
            },
            "delete": {
                "tags": [
                    "FundingInformation"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the FundingInformation to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing FundingInformation",
                "description": "Delete an existing FundingInformation (more information in https://w3id.org/okn/o/sd#FundingInformation)"
            }
        },
        "/images": {
            "get": {
                "tags": [
                    "Image"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Image"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of Image."
                    }
                },
                "summary": "List all instances of Image",
                "description": "Gets a list of all instances of Image (more information in https://w3id.org/okn/o/sd#Image)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the Imageto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Image"
                            }
                        }
                    }
                },
                "tags": [
                    "Image"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one Image",
                "description": "Create a new instance of Image (more information in https://w3id.org/okn/o/sd#Image)"
            }
        },
        "/images/{id}": {
            "get": {
                "tags": [
                    "Image"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the Image to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        },
                        "description": "Gets the details of a given Image"
                    }
                },
                "summary": "Get a single Image by its id",
                "description": "Gets the details of a given Image (more information in https://w3id.org/okn/o/sd#Image)"
            },
            "put": {
                "requestBody": {
                    "description": "An old Imageto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Image"
                            }
                        }
                    }
                },
                "tags": [
                    "Image"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Image to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Image"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing Image",
                "description": "Updates an existing Image (more information in https://w3id.org/okn/o/sd#Image)"
            },
            "delete": {
                "tags": [
                    "Image"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Image to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing Image",
                "description": "Delete an existing Image (more information in https://w3id.org/okn/o/sd#Image)"
            }
        },
        "/numericalindexs": {
            "get": {
                "tags": [
                    "NumericalIndex"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NumericalIndex"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of NumericalIndex."
                    }
                },
                "summary": "List all instances of NumericalIndex",
                "description": "Gets a list of all instances of NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the NumericalIndexto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumericalIndex"
                            }
                        }
                    }
                },
                "tags": [
                    "NumericalIndex"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumericalIndex"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one NumericalIndex",
                "description": "Create a new instance of NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)"
            }
        },
        "/numericalindexs/{id}": {
            "get": {
                "tags": [
                    "NumericalIndex"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the NumericalIndex to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumericalIndex"
                                }
                            }
                        },
                        "description": "Gets the details of a given NumericalIndex"
                    }
                },
                "summary": "Get a single NumericalIndex by its id",
                "description": "Gets the details of a given NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)"
            },
            "put": {
                "requestBody": {
                    "description": "An old NumericalIndexto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NumericalIndex"
                            }
                        }
                    }
                },
                "tags": [
                    "NumericalIndex"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the NumericalIndex to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NumericalIndex"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing NumericalIndex",
                "description": "Updates an existing NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)"
            },
            "delete": {
                "tags": [
                    "NumericalIndex"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the NumericalIndex to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing NumericalIndex",
                "description": "Delete an existing NumericalIndex (more information in https://w3id.org/okn/o/sd#NumericalIndex)"
            }
        },
        "/organizations": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Organization"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of Organization."
                    }
                },
                "summary": "List all instances of Organization",
                "description": "Gets a list of all instances of Organization (more information in https://w3id.org/okn/o/sd#Organization)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the Organizationto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Organization"
                            }
                        }
                    }
                },
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one Organization",
                "description": "Create a new instance of Organization (more information in https://w3id.org/okn/o/sd#Organization)"
            }
        },
        "/organizations/{id}": {
            "get": {
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the Organization to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                }
                            }
                        },
                        "description": "Gets the details of a given Organization"
                    }
                },
                "summary": "Get a single Organization by its id",
                "description": "Gets the details of a given Organization (more information in https://w3id.org/okn/o/sd#Organization)"
            },
            "put": {
                "requestBody": {
                    "description": "An old Organizationto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Organization"
                            }
                        }
                    }
                },
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Organization to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organization"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing Organization",
                "description": "Updates an existing Organization (more information in https://w3id.org/okn/o/sd#Organization)"
            },
            "delete": {
                "tags": [
                    "Organization"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Organization to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing Organization",
                "description": "Delete an existing Organization (more information in https://w3id.org/okn/o/sd#Organization)"
            }
        },
        "/parameters": {
            "get": {
                "tags": [
                    "Parameter"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Parameter"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of Parameter."
                    }
                },
                "summary": "List all instances of Parameter",
                "description": "Gets a list of all instances of Parameter (more information in https://w3id.org/okn/o/sd#Parameter)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the Parameterto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Parameter"
                            }
                        }
                    }
                },
                "tags": [
                    "Parameter"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Parameter"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one Parameter",
                "description": "Create a new instance of Parameter (more information in https://w3id.org/okn/o/sd#Parameter)"
            }
        },
        "/parameters/{id}": {
            "get": {
                "tags": [
                    "Parameter"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the Parameter to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Parameter"
                                }
                            }
                        },
                        "description": "Gets the details of a given Parameter"
                    }
                },
                "summary": "Get a single Parameter by its id",
                "description": "Gets the details of a given Parameter (more information in https://w3id.org/okn/o/sd#Parameter)"
            },
            "put": {
                "requestBody": {
                    "description": "An old Parameterto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Parameter"
                            }
                        }
                    }
                },
                "tags": [
                    "Parameter"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Parameter to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Parameter"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing Parameter",
                "description": "Updates an existing Parameter (more information in https://w3id.org/okn/o/sd#Parameter)"
            },
            "delete": {
                "tags": [
                    "Parameter"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Parameter to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing Parameter",
                "description": "Delete an existing Parameter (more information in https://w3id.org/okn/o/sd#Parameter)"
            }
        },
        "/persons": {
            "get": {
                "tags": [
                    "Person"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Person"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of Person."
                    }
                },
                "summary": "List all instances of Person",
                "description": "Gets a list of all instances of Person (more information in https://w3id.org/okn/o/sd#Person)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the Personto be created",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Person"
                            }
                        }
                    }
                },
                "tags": [
                    "Person"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Person"
                                }
                            }
                        },
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Create one Person",
                "description": "Create a new instance of Person (more information in https://w3id.org/okn/o/sd#Person)"
            }
        },
        "/persons/{id}": {
            "get": {
                "tags": [
                    "Person"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "id",
                        "description": "The ID of the Person to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Person"
                                }
                            }
                        },
                        "description": "Gets the details of a given Person"
                    }
                },
                "summary": "Get a single Person by its id",
                "description": "Gets the details of a given Person (more information in https://w3id.org/okn/o/sd#Person)"
            },
            "put": {
                "requestBody": {
                    "description": "An old Personto be updated",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Person"
                            }
                        }
                    }
                },
                "tags": [
                    "Person"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Person to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Person"
                                }
                            }
                        },
                        "description": "Updated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Update an existing Person",
                "description": "Updates an existing Person (more information in https://w3id.org/okn/o/sd#Person)"
            },
            "delete": {
                "tags": [
                    "Person"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "description": "The ID of the Person to be retrieved",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "user",
                        "description": "Username",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": false
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Deleted"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "BearerAuth": [
                        ]
                    }
                ],
                "summary": "Delete an existing Person",
                "description": "Delete an existing Person (more information in https://w3id.org/okn/o/sd#Person)"
            }
        },
        "/samplecollections": {
            "get": {
                "tags": [
                    "SampleCollection"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "description": "Name of the user graph to query",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "label",
                        "description": "Filter by label",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "description": "Page number",
                        "schema": {
                            "format": "int32",
                            "default": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "per_page",
                        "description": "Items per page",
                        "schema": {
                            "format": "int32",
                            "default": 100,
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SampleCollection"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array with the instances of SampleCollection."
                    }
                },
                "summary": "List all instances of SampleCollection",
                "description": "Gets a list of all instances of SampleCollection (more information in https://w3id.org/okn/o/sd#SampleCollection)"
            },
            "post": {
                "requestBody": {
                    "description": "Information about the SampleCollectionto be created",
                    "content": {
[...]
